<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图表</title>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
<form action="../function3/" method="post">
    <!--为echart准备一个具备大小宽高的Dom-->
    <div id="main" style="width: 100%;height:700px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        mon = {{ m|safe }}
        data1 ={{listGua|safe}}
        data2 = {{ listChu|safe }}
        // 指定图表的配置项和数据
        var option;

        option = {
            title: {
                text: '挂牌价-成交价'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['挂牌价','成交价']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: mon
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'挂牌价',
                    type:'line',
                    stack: '总量',
                    data:data1
                },
                {
                    name:'成交价',
                    type:'line',
                    stack: '总量',
                    data:data2
                }
            ]
        };

        myChart.setOption(option);
    </script>
    <button type="submit">下一页</button>
</form>
</body>
</html>