<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
   {% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
        <div align="center">
            <h1>你好,{{ request.session.user_name }}！欢迎回来！
            <img src="/static/img/welcome.jpg">
    </h1>
        </div>
    <
       <!--为echart准备一个具备大小宽高的Dom-->
        <a href="function1.html"></a>
    {% else %}
        <div align="center">
        <h1>你尚未登录，只能访问公开内容！</h1>
        </div>

    {% endif %}
{% endblock %}
</body>
</html>